{% extends "base.html" %}
{% load static %}
{% block content %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
{% endblock %}
<h1 class="text-center p-3">Mood</h1>
<div class="container">
    <div class="card shadow-lg mood-container white-text p-5">
        <p class="text-center">{{ mood.date }}</p>

        <div class="pb-3 ">
            {% if mood.comment %}
                <div class="text-center m-1">
                    <p>Comment:</p>
                    <p>{{ mood.comment }}</p>
                </div>
            {% endif %}
            <div class=" text-center m-1">
                {% if mood.mood_level == 0 %} <!--Very Happy-->
                <i class="fa-regular fa-face-grin-hearts face-for-detail-page"></i>
                {% elif mood.mood_level == 1 %} <!--Happy-->
                <i class="fa-regular fa-face-smile-beam face-for-detail-page"></i>
                {% elif mood.mood_level == 2 %} <!--Meh-->
                <i class="fa-regular fa-face-meh face-for-detail-page"></i>
                <p>I'm really sorry to hear that you're having a tough day. It's important to prioritize your mental well-being.</p>
                <p>The National Institute of Mental Health (NIMH) has a wealth of information that might be helpful. They cover various aspects of mental health and provide insights that could assist you. If you're open to it, you can check out their resources <a href="https://www.nimh.nih.gov/health/topics/men-and-mental-health/index.shtml" target="_blank">here</a>.</p>
                {% elif mood.mood_level == 3 %} <!--Sad-->
                <i class="fa-regular fa-face-sad-tear face-for-detail-page"></i>
                <p>I'm really sorry to hear that you're having a tough day. It's important to prioritize your mental well-being.</p>
                <p>The National Institute of Mental Health (NIMH) has a wealth of information that might be helpful. They cover various aspects of mental health and provide insights that could assist you. If you're open to it, you can check out their resources <a href="https://www.nimh.nih.gov/health/topics/men-and-mental-health/index.shtml" target="_blank">here</a>.</p>
                {% elif mood.mood_level == 4 %} <!--Very Sad-->
                <i class="fa-regular fa-face-sad-cry face-for-detail-page"></i>
                <p>I'm really sorry to hear that you're having a tough day. It's important to prioritize your mental well-being.</p>
                <p>The National Institute of Mental Health (NIMH) has a wealth of information that might be helpful. They cover various aspects of mental health and provide insights that could assist you. If you're open to it, you can check out their resources <a href="https://www.nimh.nih.gov/health/topics/men-and-mental-health/index.shtml" target="_blank">here</a>.</p>
                {% endif %}
            </div>
            
        </div>


        <div class="container text-center">
            <a href="{% url 'update-mood' mood.id %}" class="btn btn-primary ">Edit</a>
            <a href="{% url 'delete-mood' mood.id %}" class="btn btn-danger ">Delete</a>
        </div>

    </div>
</div>

{% endblock %}