{% extends "base.html" %}
{% load static %}
{% block content %}
{% block head %}
<!-- Linking to an external CSS stylesheet named 'stats.css' in the 'css' directory. -->
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
{% endblock %}

<div>
  <h1 class="heading text-center pt-3">Account Home</h1>
</div>

<div>
  <h2 class="heading text-center">Hello, {{ user.username }}!</h2>
</div>

{% comment %} <div class="row p-4 justify-content-around align-items-center">

  <!-- Heading with class "text-center" and padding top of 5 units, indicating the title "Account Home".-->
  <div>
    <a href="{% url 'stats' %}" class="ml-0 mt-3 action-btn text-center btn btn-lg btn-block">Your MenTool Data</a>
  </div>
  <div>
    <a href="{% url 'mood-form' %}" class="mt-3 action-btn text-center btn btn-lg btn-block">Log Your Mood</a>
  </div>

</div> {% endcomment %}

<div class="snapshot">

  <div class="container mt-4">
    {% comment %} <div class="mood-container card p-2">
      <h4 class="mood-heading text-center">Your most recent mood</h4>
      {% if object_list %}
      <div class="d-flex overflow-auto ">
        <div class="d-flex">
          {% for mood in object_list %}
          <div class="d-flex flex-column text-center justify-content-end m-1">

            {% if mood.mood_level == 0 %} <!--Very Happy-->
            <a href="{% url 'mood-detail' mood.id %}" class="face very-happy-face"><i
                class="fa-regular fa-face-grin-hearts"></i></a>
            {% elif mood.mood_level == 1 %} <!--Happy-->
            <a href="{% url 'mood-detail' mood.id %}" class="face happy-face"><i
                class="fa-regular fa-face-smile-beam"></i></a>
            {% elif mood.mood_level == 2 %} <!--Meh-->
            <a href="{% url 'mood-detail' mood.id %}" class="face meh-face"><i class="fa-regular fa-face-meh"></i></a>
            {% elif mood.mood_level == 3 %} <!--Sad-->
            <a href="{% url 'mood-detail' mood.id %}" class="face sad-face"><i
                class="fa-regular fa-face-sad-tear"></i></a>
            {% elif mood.mood_level == 4 %} <!--Very Sad-->
            <a href="{% url 'mood-detail' mood.id %}" class="face very-sad-face"><i
                class="fa-regular fa-face-sad-cry"></i></a>
            {% endif %}
            <p class="date-text">{{ mood.date|date:"" }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div>
        <p class="date-text">No Data Yet</p>
      </div>
      {% endif %}
    </div> {% endcomment %}

    {% comment %} <div class="mood-container card p-2 text-color-light mt-5 p-5">
      <h3 class="mood-heading text-center">Resources</h3>
      <p class="fs-2">We can see that you are feeling a little low this week. Some of these resources may be of help to
        you.</p>
    </div>

    <div class="mx-1 my-4">
      <a href="{% url 'delete-account' %}" class="options-btn btn btn-lg">Delete account</a>
    </div> {% endcomment %}
  </div>

  <!-- Row containing two options for user interaction: "Your MenTool Data" and "Log Your Mood". -->
  <div class="row p-4 justify-content-around align-items-center">
    <!-- First option: Link to 'stats'. -->
    <div>
      <a href="{% url 'stats' %}" class="ml-0 mt-3 options-btn text-center btn btn-lg btn-block">Your MenTool Data</a>
    </div>
    <!-- Second option: Link to 'mood-form'. -->
    <div>
      <a href="{% url 'mood-form' %}" class="mt-3 options-btn text-center btn btn-lg btn-block">Log Your Mood</a>
    </div>
  </div>
  <!-- Row containing two options for user interaction: "Edit Account" and "Delete Account". -->
  <div class="snapshot">
    <div class="container m-5">
      <!-- Heading indicating the user's most recent mood. -->
      <div class="mood-container card p-2">
        <h4 class="mood-heading text-center">Your most recent mood</h4>
        <!-- Check if there is mood data available. -->
        {% if object_list %}
        <!-- Horizontal scrollable container for mood entries. -->
        <div class="d-flex overflow-auto ">
          <div class="d-flex">
            <!-- Loop through each mood entry. -->
            {% for mood in object_list %}
            <!-- Mood entry container with flex properties. -->
            <div class="d-flex flex-column text-center justify-content-end m-1">
              {% if mood.mood_level == 0 %} <!--Very Happy-->
              <a href="{% url 'mood-detail' mood.id %}" class="face very-happy-face"><i
                  class="fa-regular fa-face-grin-hearts"></i></a>
              {% elif mood.mood_level == 1 %} <!--Happy-->
              <a href="{% url 'mood-detail' mood.id %}" class="face happy-face"><i
                  class="fa-regular fa-face-smile-beam"></i></a>
              {% elif mood.mood_level == 2 %} <!--Meh-->
              <a href="{% url 'mood-detail' mood.id %}" class="face meh-face"><i class="fa-regular fa-face-meh"></i></a>
              {% elif mood.mood_level == 3 %} <!--Sad-->
              <a href="{% url 'mood-detail' mood.id %}" class="face sad-face"><i
                  class="fa-regular fa-face-sad-tear"></i></a>
              {% elif mood.mood_level == 4 %} <!--Very Sad-->
              <a href="{% url 'mood-detail' mood.id %}" class="face very-sad-face"><i
                  class="fa-regular fa-face-sad-cry"></i></a>
              {% endif %}
              <p class="date-text">{{ mood.date|date:"" }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Display a message if no mood data is available. -->
        {% else %}
        <div>
          <p class="date-text">No Data Yet</p>
        </div>
        {% endif %}
      </div>
      <!-- Heading indicating the user's most recent mood. -->
      {% comment %} <div class="mood-container card p-2 text-color-light mt-5 p-5">
        <h3 class="mood-heading text-center">Resources</h3>
        <p class="fs-2">We can see that you are feeling a little low this week. Some of these resources may be of help
          to you.</p>
      </div>
      <!-- Delete account button with margin for spacing. -->
      <div class="mx-1 my-4">
        <!-- Link to the 'delete-account' URL styled as an options button. -->
        <a href="{% url 'delete-account' %}" class="options-button btn btn-lg">Delete account</a>
      </div> {% endcomment %}
    </div>

  </div>

  {% endblock %}