{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Login</h1>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <a class="link" href="{% url 'login' %}">sign in</a></p>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <form method="post">
                {% csrf_token %}

                <div class="form-outline form-black mb-4">
                  {{ form.username }}
                  <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                </div>

                <div class="form-outline form-white mb-4">
                  {{ form.password }}
                  <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
                </div>

                <!-- You can uncomment the next line if you want a "Forgot password?" link -->
                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </form>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}