{% extends "base.html" %}
{% load static %}
{% block content %}

  <div>
    <h1 class="heading">Account Home</h1>
  </div>

  <div>
    <h2 class="heading text-center">Hello [username]</h2>
  </div>


<div class="options-buttons">  
  <div class="row d-flex justify-content-around">
    <div class="start-btn col-sm-1 col-md-2 border text-center btn btn-lg btn-light">Your Mentool Data</div>
    <div class="start-btn col-sm-1 col-md-2 border text-center btn btn-lg btn-light">How are you today? <br>(Click here to log your mood)</div>
  <div>
</div>

  

<div class="snapshot">

  <h4 class="heading text-center">Your most recent mood</h4>
        
</div>

{% endblock %}