{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container bg-warning mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-3">Welcome to MenTool</h1>
            <br>
            <img src="{% static 'images/emotions.png' %}" alt="emotions faces">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Sagittis id consectetur purus ut faucibus pulvinar. Vel quam elementum pulvinar etiam. Commodo
                quis imperdiet
                massa tincidunt nunc pulvinar sapien et. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et.
                Cras adipiscing
                enim eu turpis egestas pretium aenean. Molestie ac feugiat sed lectus. Sed tempus urna et pharetra.
                Risus commodo
                viverra maecenas accumsan lacus vel facilisis. Sed odio morbi quis commodo odio aenean. Turpis egestas
                pretium aenean
                pharetra magna ac placerat. Sit amet justo donec enim. Vivamus arcu felis bibendum ut. Sed felis eget
                velit aliquet.

            </p>
            <br>
            <div class="buttons text-center mb-3">
                <a href="{% url 'mood-form' %}" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
</div>
<br>




<!-- <p>Very Happy <i class="fa-regular fa-face-grin-hearts"></i></p>

<p>Happy <i class="fa-regular fa-face-smile-beam"></i></p>

<p>Meh <i class="fa-regular fa-face-meh"></i></p>

<p>Sad <i class="fa-regular fa-face-sad-tear"></i></p>

<p>Very Sad <i class="fa-regular fa-face-sad-cry"></i></p>
 -->


{% endblock %}