{% extends "base.html" %}
{% load static %}
{% block content %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
{% endblock %}
<h1 class="text-center p-3">Stats</h1>
<div class="container">
    <div class="card shadow-lg p-5">
    {% if object_list %}
        <div class="d-flex">
            <div class="d-flex">
            {% for mood in object_list %}
                <div class="d-flex flex-column text-center justify-content-end m-1">
                    
                    {% if mood.mood_level == 0 %} <!--Very Happy-->
                    <i class="fa-regular fa-face-grin-hearts face very-happy-face"></i>
                    {% elif mood.mood_level == 1 %} <!--Happy-->
                    <i class="fa-regular fa-face-smile-beam face happy-face"></i>
                    {% elif mood.mood_level == 2 %} <!--Meh-->
                    <i class="fa-regular fa-face-meh face meh-face"></i>
                    {% elif mood.mood_level == 3 %} <!--Sad-->
                    <i class="fa-regular fa-face-sad-tear face sad-face"></i>
                    {% elif mood.mood_level == 4 %} <!--Very Sad-->
                    <i class="fa-regular fa-face-sad-cry face very-sad-face"></i>
                    {% endif %}
                    <p>{{ mood.date|date:"" }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <p>No Data Yet</p>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}