{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/github-information.js"></script>

<h1>About Us</h1>

<h2>Team Mind Menders</h2>

<h3>- Tomislav Dukez</h3>
<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="tomdu3" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>
<h3>- Agy Luczak</h3>
<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="AgyLuczak" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>
<h3>- Ben Gilbert</h3>
<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="bengilbertcodes" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>
<h3>- Jamie Phelps</h3>
<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="tomdu3" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>
<h3>- Dan Morriss</h3>
<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="DanMorriss" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>
<h3>- Stanley Owanta</h3>
<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}