{% extends "base.html" %}
{% load static %}
{% block content %}


<h1 class="welcome-heading text-center">About Us</h1>


<h2 class="text-center">Team Mind Menders</h2>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/dan.jpeg" class="card-img-top" alt="Dan Morriss image">
                <div class="card-body">
                    <h5 class="card-title">Dan Morriss</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="https://github.com/DanMorriss" class="btn action-btn btn-lg">GitHub</a>
                    <a href="https://www.linkedin.com/in/morrissdaniel/" class="btn action-btn btn-lg">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/agy.jpg" class="card-img-top" alt="Agy Luczak image">
                <div class="card-body">
                    <h5 class="card-title">Agy Luczak</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="https://github.com/AgyLuczak" class="btn action-btn btn-lg">GitHub</a>
                    <a href="https://www.linkedin.com/in/agy-luczak-11bb96281/" class="btn action-btn btn-lg">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/tomislav.jpeg" class="card-img-top" alt="Tomislav Dukez image">
                <div class="card-body">
                    <h5 class="card-title">Tomislav Dukez</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="https://github.com/tomdu3" class="btn action-btn btn-lg">GitHub</a>
                    <a href="https://www.linkedin.com/in/tomislav-dukez-bb2349231/" class="btn action-btn btn-lg">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/ben.jpeg" class="card-img-top" alt="Ben Gilbert">
                <div class="card-body">
                    <h5 class="card-title">Ben Gilbert</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="https://github.com/bengilbertcodes" class="btn action-btn btn-lg">GitHub</a>
                    <a href="https://www.linkedin.com/in/benjamindgilbert/" class="btn action-btn btn-lg">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/jamie.jpeg" class="card-img-top" alt="Jamie Phelps image">
                <div class="card-body">
                    <h5 class="card-title">Jamie Phelps</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="https://github.com/Thephelpster" class="btn action-btn btn-lg">GitHub</a>
                    <a href="https://www.linkedin.com/in/jamiemphelps/" class="btn action-btn btn-lg">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/stanley.jpeg" class="card-img-top" alt="Stanley Owanta image">
                <div class="card-body">
                    <h5 class="card-title">Stanley Owanta</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn action-btn btn-lg">GitHub</a>
                    <a href="https://www.linkedin.com/in/stanley-owanta-a9819b51/" class="btn action-btn btn-lg">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="row justify-content-center">

    <div class="row bg-color-contact">
        <div class="col">
            <div class="center-form">
                <input type="text" id="gh-username" value="" oninput="fetchGitHubInformation()" />
                <div id="gh-user-data"></div>
            </div>
        </div>
    </div>
</section>

<a href="#" class="btn action-btn btn-lg" tabindex="-1" role="button" aria-disabled="true">Home</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function userInformationHTML(user) {
        return `
        <h2>${user.name}
            <span class="small-name">
                (@<a href="${user.html_url}" target="_blank">${user.login}</a>)
            </span>
        </h2>
        <div class="gh-content">
            <div class="gh-avatar">
                <a href="${user.html_url}" target="_blank">
                    <img src="${user.avatar_url}" width="80" height="80" alt="${user.login}" />
                </a>
            </div>
            <p>Followers: ${user.followers} - Following ${user.following} <br> Repos: ${user.public_repos}</p>
        </div>`;
    }

    function repoInformationHTML(repos) {
        if (repos.length == 0) {
            return `<div class="clearfix repo-list">No repos!</div>`;
        }

        var listItemsHTML = repos.map(function (repo) {
            return `<li>
                    <a href="${repo.html_url}" target="_blank">${repo.name}</a>
                </li>`;
        });

        return `<div class="clearfix repo-list">
                <p>
                    <strong>Repo List:</strong>
                </p>
                <ul>
                    ${listItemsHTML.join("\n")}
                </ul>
            </div>`;
    }

    function fetchGitHubInformation(event) {
        $("#gh-user-data").html("");
        $("#gh-repo-data").html("");

        var username = $("#gh-username").val();
        if (!username) {
            $("#gh-user-data").html(`<h2>Please enter a GitHub username</h2>`);
            return;
        }

        $.when(
            $.getJSON(`https://api.github.com/users/${username}`),
            $.getJSON(`https://api.github.com/users/${username}/repos`)
        ).then(
            function (firstResponse, secondResponse) {
                var userData = firstResponse[0];
                var repoData = secondResponse[0];
                $("#gh-user-data").html(userInformationHTML(userData));
            },
            function (errorResponse) {
                if (errorResponse.status === 404) {
                    $("#gh-user-data").html(
                        `<h2>No info found for user ${username}</h2>`);
                } else {
                    console.log(errorResponse);
                    $("#gh-user-data").html(
                        `<h2>Error: ${errorResponse.responseJSON.message}</h2>`);
                }
            });
    }

    $(document).ready(fetchGitHubInformation);
</script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
{% endblock %}