.face {
    transition: .5s ease-in-out;
    font-size: 2rem;
    padding-top: .5rem;
    background: radial-gradient(ellipse at center, var(--color-light-taupe) 0%, rgba(34, 64, 64, 0) 100%);
    border-radius: 4rem 4rem 0 0;

}

.face:hover {
    transition: .5s ease-in-out;
    transform: scale(1.05);
    background: radial-gradient(ellipse at center, var(--color-olive-green) 0%, rgba(34, 64, 64, 0) 100%);

}

.very-happy-face {
    padding-bottom: 10rem;
}

.happy-face {
    padding-bottom: 8rem;

}

.meh-face {
    padding-bottom: 6rem;
}

.sad-face {
    padding-bottom: 4rem;
}

.very-sad-face {
    padding-bottom: 2rem;
}