/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@400;500;600&display=swap');


:root {
    /* Colour Variables */
    --color-navy-blue: #010A26;
    --color-dark-teal: #224040;
    --color-soft-off-white: #EBF2F2;
    --color-olive-green: #595542;
    --color-light-taupe: #BFBAAA;
    /* Font Variables */
    --font-primary: 'Audiowide', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;
    --font-size-normal: 24px;
    --font-size-large: 36px;
    --font-size-x-large: 48px;
    --font-size-small: 16px;
}

body {
    font-family: var(--font-primary);
    background-color: #595542;
}