/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@400;500;600&display=swap');


:root {
    /* Colour Variables */
    --color-navy-blue: #010A26;
    --color-dark-teal: #224040;
    --color-soft-off-white: #EBF2F2;
    --color-olive-green: #595542;
    --color-light-taupe: #BFBAAA;
    /* Font Variables */
    --font-primary: 'Audiowide', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;
    --font-size-normal: 24px;
    --font-size-large: 36px;
    --font-size-x-large: 48px;
    --font-size-small: 16px;
}

body {
    font-family: var(--font-secondary);
    font-weight: bold;

}

.navbar-brand {
    font-family: var(--font-primary);
}

a {
    color: rgb(37, 54, 7);

}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-primary);
}

p {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: var(--font-size-normal);
}

.background-image {
    background-image: url("/static/images/background_images.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.text-message {
    background-color: #ddd9ca;
    border-radius: 10px;
}

.start-btn {
    background-color: #224040;
    color: white;
}

.start-btn:hover {
    background-color: #883039;
    color: white;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(236, 239, 232);
    transform: scale(1.02);
    transition: transform 100ms;
}


img {
    border-radius: 50%;
}

