/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@400;500;600&display=swap');


:root {
    /* Colour Variables */
    --color-navy-blue: #010A26;
    --color-dark-teal: #224040;
    --color-soft-off-white: #EBF2F2;
    --color-olive-green: #595542;
    --color-light-taupe: #BFBAAA;
    /* Font Variables */
    --font-primary: 'Audiowide', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;
    --font-size-normal: 24px;
    --font-size-large: 36px;
    --font-size-x-large: 48px;
    --font-size-small: 16px;
}

.x-large-font {
    font-size: var(--font-size-x-large);
}

.text-color-light {
    color: whitesmoke;
}

.text-color-dark {
    color: var(--color-navy-blue);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    font-family: var(--font-secondary);
    font-weight: bold;
    flex-direction: column;
}

.wrap-content {
    flex: 1;
    margin-bottom: 0;
}


.background-image {
    background-image: url("https://res.cloudinary.com/dydzwcqhz/image/upload/v1700753963/static/images/mentool_background_lrg.0cb5f793ba85.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

/*--Navbar--*/

.navbar {
    background-color: #224040;
}

.navbar-brand {
    font-family: var(--font-primary);
    color: whitesmoke;
}

.nav-link:hover {

    background-color: #dcd4cd;
    color: #224040;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1.05);
    transition: .5s ease-in-out;


}

.nav-link.active {
    background-color: #dcd4cd;
    color: #224040;
    border-radius: 10px;
}

/*Navbar toggler*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    transform: scale(1.05);
    transition: .5s ease-in-out;
}

.navbar-toggler-icon:hover {
    color: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23224040' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

a {
    color: whitesmoke;

}


#usernameNav {
    color: whitesmoke;
}

#usernameNav:hover {
    color: #224040;
}

/*headings*/
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-primary);
}

p {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: var(--font-size-normal);
}

/*for containers/cards with text*/
.text-message {
    background-color: #eae6d7;
    border-radius: 10px;
}

.message-container-shadow {
    box-shadow: 3px 5px .5em #010A26;
}

/*buttons*/
.action-btn {
    background-color: #224040;
    color: white;
}

.action-btn:hover {
    background-color: #883039;
    color: white;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(236, 239, 232);
    transform: scale(1.02);
    transition: transform 100ms;
}

/*--Logo--*/

.logo-image {
    border-radius: 50%;
    max-width: 90vw;
}

.welcome-heading {
    font-size: 400%;
    color: #010A26;
}

.options-btn {
    background-color: #224040;
    color: #dcd4cd;
    height: 100%;
    font-weight: bold;
    font-size: 160%;
    box-shadow: 3px 5px .5em #010A26;
}

.submit-mood-btn {
    background-color: #224040;
    color: #dcd4cd;
    height: 100%;
    font-weight: bold;
    font-size: 160%;
    box-shadow: 3px 2px .5em #e1e2e5;
}

.mood-container {
    background-color: #224040;
    box-shadow: 3px 5px .5em #010A26;
}


.white-text {
    color: var(--color-light-taupe);
}


.mood-heading {
    font-family: quicksand;
    color: #EBF2F2;
    color: #dcd4cd;
}


.date-text {
    color: #EBF2F2;
    width: 100%;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px
}

/* Mood Form */

.mood-radio-buttons {
    display: inline;
    font-size: 2rem;
}

#id_mood_level_0 {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    transition: box-shadow 0.3s ease; 
    margin-left: 11px;
    margin-top: 11px;
}

#id_mood_level_0:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

#id_mood_level_0:checked {
    box-shadow: 0 0 50px var(--color-soft-off-white);
    background-color: rgba(194, 194, 241, 0.5);
}


#id_mood_level_1 {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    transition: box-shadow 0.3s ease; 
    margin-left: 11px;
    margin-top: 11px;
}

#id_mood_level_1:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

#id_mood_level_1:checked {
    box-shadow: 0 0 50px var(--color-soft-off-white);
    background-color: rgba(194, 194, 241, 0.5);
}


#id_mood_level_2 {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    transition: box-shadow 0.3s ease; 
    margin-left: 11px;
    margin-top: 11px;
}

#id_mood_level_2:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

#id_mood_level_2:checked {
    box-shadow: 0 0 50px var(--color-soft-off-white);
    background-color: rgba(194, 194, 241, 0.5);
}


#id_mood_level_3 {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    transition: box-shadow 0.3s ease; 
    margin-left: 11px;
    margin-top: 11px;
}

#id_mood_level_3:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

#id_mood_level_3:checked {
    box-shadow: 0 0 50px var(--color-soft-off-white);
    background-color: rgba(194, 194, 241, 0.5);
}


#id_mood_level_4 {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    transition: box-shadow 0.3s ease; 
    margin-left: 11px;
    margin-top: 11px;
}

#id_mood_level_4:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

#id_mood_level_4:checked {
    box-shadow: 0 0 50px var(--color-soft-off-white);
    background-color: rgba(194, 194, 241, 0.5);
}



footer {
    /* bottom: 0px; */
    /* margin-top: auto; */
}


.footer-icons:hover {
    background-color: #dcd4cd;
    text-decoration: none;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(78, 30, 6);
    transform: scale(1.02);
    transition: all 0.35s ease-in-out;
}

.bottom-line {
    background-color: #224040;
    font-size: small;

}


/*---------------About us*/

.col-4 {
    padding: 15px;

}

.col-41 {
    padding: 15px;
    padding-right: 70px;
}

.about-heading {
    color: #010A26;
    font-size: "300%";
}